@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary-color: #703bf7;
  --primary-color-rgb: 112, 59, 247;
  --primary-color-dark: color-mix(in srgb, #000000 70%, var(--primary-color));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  transition: background-color 0.3s ease;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

.bg-lines {
  position: relative;
  background-color: #0a0a0a;
  background-image: linear-gradient(
      rgba(var(--primary-color-rgb), 0.07) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(var(--primary-color-rgb), 0.07) 1px,
      transparent 1px
    );
  background-size: 40px 40px;
}

img {
  image-rendering: auto;
  object-fit: contain;
}

::selection {
  background: var(--primary-color);
  color: #fff;
}
